body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.contact-info a {
    text-decoration: none;
}
.contact-info p {
    text-align: center;
}

.cv-container {
    display: flex;
    max-width: 1000px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    width: 30%;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


.profile,
.contact-info,
.languages {
    margin-bottom: 20px;
    width: 500px;
}

a {
    color: #f1c40f;
    text-decoration: none;
}

.languages progress {
    width: 100%;
}
.content h1{
   
    background-color: #2c3e50;
   color: #ffffff;
    text-align: center;
}
.content {
    width: 70%;
    padding: 30px;
}

header {
    text-align: center;
}

.section {
    margin-bottom: 20px;
}
.objectif{
    background-color: #2c3e50;
        color: #ffffff;
        text-align: center;
}

h1 {
    color: #2c3e50;
}

h2 {
    background-color: #2c3e50;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
}

.entry {
    margin-bottom: 15px;
}

.skills p {
    display: inline-block;
    background-color: #2c3e50;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
} 
